<nav id="navbar">
  <%= link_to 'Home', action: 'show', page: 'home' %>
  <%= link_to 'Developer', action: 'show', page: 'developer' %>
  <%= link_to 'Tester', action: 'show', page: 'tester' %>
  <%= link_to 'Musician', action: 'show', page: 'tester' %>
  <%= link_to 'Contact', action: 'show', page: 'contact' %>
</nav>
