<h1>Developer</h1>

<%
# projects = Dir['./app/views/dev_projects/*.html.erb'].map { |p| p.match(/.\/_(.+)\.html\.erb/).captures[0] }
# needs to be in order
projects = ['monzo_streak', 'pokken_matchup_recorder', 'portfolio']
%>

<div class="panel-nav">
  <p id="current-proj-label">Monzo Streak</p>
  <div>
    <% projects.each do |p| %>
      <button class="dev-navbtn" id="<%= 'dev-navbtn' + p %>" onclick="changeToPanel('<%= p %>')">
      </button>
    <% end %>
  </div>
</div>

<% projects.each do |p| %>
  <div id="<%='dev-' + p %>">
    <%= render 'panel' do render 'dev_projects/' + p end %>
  </div>
<% end %>

<%= javascript_include_tag "developer.js" %>
